body {
	background-color: #000;
	background-image: url("../images/asfalt.png");
	background-attachment: fixed;
	color: #eee;
	text-shadow: 1px 1px 2px #000;
	font-family: Scada, sans-serif;
}

nav, section {
	padding: 20px 0;
}

h1, h2, h3 {
	margin: 0 0 15px;
	border-bottom: 1px solid #333;
	color: #fed;
	font-size: 1.8em;
	font-family: Play, sans-serif;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.2em;
}

#wrapper {
	margin: auto;
	padding: 20px;
	width: 920px;
	border: 1px solid #000;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-image: url("../images/dark_wall.png");
	-webkit-box-shadow: 0 0 15px #000;
	-moz-box-shadow: 0 0 15px #000;
	box-shadow: 0 0 15px #000;
	text-align: justify;
}

code {
	padding: 3px;
	color: #ddf;
	font-family: "Ubuntu Mono", monospace;
}

code.box {
	display: block;
	margin: 5px;
	padding: 9px;
	width: 460px;
	border: 1px solid #222;
	background-color: rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0 5px #000 inset;
	-moz-box-shadow: 0 0 5px #000 inset;
	box-shadow: 0 0 5px #000 inset;
}

a {
	color: #fcc;
	text-decoration: none;
	font-family: Play, sans-serif;
}

a:hover {
	color: #faa;
}

img {
	-webkit-box-shadow: 0 0 3px #000;
	-moz-box-shadow: 0 0 3px #000;
	box-shadow: 0 0 3px #000;
}

.img-wrapper {
	float: right;
	margin-left: 20px;
	width: 400px;
}

.img-wrapper img {
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
}

.img-wrapper img:hover {
	-webkit-box-shadow: 0 0 10px #000;
	-moz-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
}

.img-box {
	text-align: center;
}

.img-box img {
	-webkit-box-shadow: 0 0 10px #000;
	-moz-box-shadow: 0 0 10px #000;
	box-shadow: 0 0 10px #000;
}

p {
	margin: 0 0 10px;
	padding: 0 20px;
}

.clearfix:after {
	display: table;
	clear: both;
	content: "";
}

table {
	margin: 15px 30px;
	border: 1px solid #333;
	width: 850px;

	box-shadow: 0 0 5px #000;
}

tr {
	border: 1px solid #333;	
	height: 48px;

	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
}

tr:hover {
	background-color: rgba(255, 255, 255, 0.02);
}

th {
	text-align: center;
	font-size: 105%;
}

td {
	font-size: 90%;
	padding: 10px;
}

dl {
	margin: 0px 25px;
}

dt {
	font-family: Play, sans-serif;
	font-size: 115%;
	color: #fed;
}

dd {
	margin-left: 15px;
	margin-bottom: 15px;
}
