body {
	background: url( '../images/asfalt.png' );
	font-family: "Scada";
	color: #fff;
	text-shadow: 0 0 2px #000;
}

h1, h2, h3 {
	font-family: "Play";
	margin: 0px;
}

#wrapper {
	background: url( '../images/dark_wall.png' );
	margin: 25px auto;
	width: 960px;
	text-align: justify;

	padding: 20px;
	box-shadow: 0 0 15px #000;
}

code {
	display: block;
	background: rgba( 255, 255, 255, 0.2 );
	width: 50%;
	overflow: auto;
	padding: 15px;
	margin: 15px;
	border-radius: 5px;
	border: 3px solid rgba( 255, 255, 255, 0.7 );
	box-shadow: 0 0 15px #000 inset;
	font-family: "Ubuntu Mono";
}

img {
	width: 360px;
	border-radius: 5px;
	border: 4px solid rgba( 255, 255, 255, 0.7 );
	box-shadow: 0 0 5px #000;
	float: right;
	transition: all 0.3s ease-out;
	margin-left: 20px;
}

a:hover img {
	border: 4px solid #F2BF97;
	box-shadow: 0 0 15px #000;
}

a {
	color: #f99;
	text-decoration: none;
	transition: all 0.3s ease-out; 
}

a:hover {
	color: #ff9;
	text-decoration: none;
}

b {
	font-family: "Play";
}

div.ni {
	background: rgba( 255, 255, 255, 0.25 );
	color: #dc9;
	box-shadow: 0 0 5px #000;
	width: 480px;
	padding: 10px;
	border: 3px solid #c61;
	margin: 10px;
}

div.ni:before {
	display: block;
	float: left;
	content: '!';
	color: #f93;
	text-shadow: 0 0 5px #f93;
	font-size: 48px;
	margin-right: 20px;
}

img.inline {
	float: none;
	clear: both;
	width: auto;
	border: none;
	border-radius: 0;
	margin: 5px;
}