body {
	background-color: #000;
	background-image: url( ../images/asfalt.png );
	background-attachment: fixed;
	color: #eee;
	text-shadow: 1px 1px 2px #000;
	font-family: Scada, sans-serif;
}

nav, section {
	padding: 20px 0;
}

h1, h2, h3 {
	margin: 0 0 15px;
	border-bottom: 1px solid #333;
	color: #fed;
	font-size: 1.8em;
	font-family: Play, sans-serif;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.2em;
}

#wrapper {
	margin: auto;
	padding: 20px;
	width: 920px;
	border: 1px solid #000;
	border-radius: 3px;
	background-image: url( ../images/dark_wall.png );
	box-shadow: 0 0 15px #000;
	text-align: justify;
}

code {
	padding: 3px;
	color: #ddf;
	font-family: "Ubuntu Mono", monospace;
}

code.box {
	display: block;
	margin: 5px;
	padding: 9px;
	width: 460px;
	border: 1px solid #222;
	background-color: rgba( 0, 0, 0, 0.4 );
	box-shadow: 0 0 5px #000 inset;
}

a {
	color: #fcc;
	text-decoration: none;
	font-family: Play, sans-serif;
}

a:hover {
	color: #faa;
}

img {
	box-shadow: 0 0 3px #000;
}

.img-wrapper {
	float: right;
	margin-left: 20px;
	width: 400px;
}

.img-wrapper img {
	transition: all .1s;
}

.img-wrapper img:hover {
	box-shadow: 0 0 10px #000;
}

.img-box {
	text-align: center;
}

.img-box img {
	box-shadow: 0 0 10px #000;
}

p {
	margin: 0 0 10px;
	padding: 0 20px;
}

#toc {
	width: 600px;
	border: 1px solid #000;
}

.clearfix:after {
	display: table;
	clear: both;
	content: "";
}
